#topo{
	padding: 0px;
	margin: 0px;
	color: white;
}


#menus{
	padding: 0px;
	margin: 0px;
}

li a {
	color: white;
}

li a:hover{
	text-decoration: none;
	text-transform: none;
}


.tagMae{
	margin: 35px auto auto auto;
	background: url(https://media.giphy.com/media/w8N49ojv4AgZfxPfPr/giphy.gif);
	height: 50vh;
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: center center;
	width: 950px;
}

.textao{
	width: 100%;
	height: 100%;
	background-color: blue;
	opacity: 0.15;
}

#textinho{
	position: absolute;
	top: 105px;
	font-family: 'Teko', sans-serif;
	font-size: 2.98em;
}


#textinho::after{
	content: '|';
	margin-left: 5px;
	opacity: 1;
	animation-name: identifier;
	animation-delay: 5s;
	animation-duration: infinite;
}

@keyframes identifier {
  0%,100% { opacity: 1; }
  50%{ opacity: 0; }
}

#rodape{
	position:absolute;
    top: 100%;
    width:100%;
}


#rodape p{
	text-align: center;
}

